<div class="jumbotron center">

<div class="row">
	<div class="col-md-8">
		<div class="Banner">
			<%= image_tag("about_main.jpg", :alt => "banner image") %>
		</div>
	</div>

	<div class="col-md-4" id="background-tweet">
		<%= render 'twitter' %>

		<%= link_to 'LinkedIn', ('https://www.linkedin.com/in/afoster2'), class:"btn btn-primary" %>
		<%= link_to 'Facebook', ('https://www.facebook.com/andrew.foster.7374'), class:"btn btn-primary" %>
		<%= link_to 'Twitter', ('https://twitter.com/AFcountrymusic'), class:"btn btn-primary" %>
		<%= link_to 'Github', ('https://github.com/Afoster2'), class:"btn btn-primary" %>
	</div>
</div>

<div class="row">
<div class="col-md-8">
	<h1 class="home_title">Meet Andrew Foster</h1>
	<h4 class="home_sub">"Better to remain silent and be thought a fool, than to speak and remove all doubt."</h4>
	<p class="home_txt">My philosophy is fairly simple, work hard, provide products that are high quality and service that goes far above expectations. "Do your research, know your customer and who their customers are." Overall be TRUSTWORTHY & HONEST ABOUT EVERYTHING. I love what I do and most importantly I love helping other people. </p>

	<p class="home_txt"> I grew up with the notion that "In order to succeed you must put others first and build on thier successes." While I was in school I founded a small design firm "Lost Tie LLC" which was built on the prospect that design service should be accessible to every small business in Corpus Christi, not just the ones that could afford it. Our mission was to help every small business become what they envisioned.</p>

	<p class="home_txt">Coupled with the knowledge and resources available at TAMUCC, we built a reasonable client list and were able to help many organizations in the Coastal Bend.</p>

	<p class="home_txt">In early 2011, I looked at Corpus Christi and saw an opportunity to jump on a market that was completely saturated, yet very attractive and accessible. With help from a close friend of mine we started Reel Sportswear <%= link_to 'www.reelsportswear.com', ('https://www.reelsportswear.com') %>, a local fishing apparel company that specializes in both performance, durability and combine the third coast attitude with genuine designs.</p>

	<p class="home_txt">My personal and professional goals are simple. "STRIVE FOR THE BEST" My intentions are deeply rooted in my understanding of "Do to others as you would have them do to you."</p>







</div>
</div>

</div> 