<div class="jumbotron center">

<div class="row">
	<div class="col-md-8">
		<div class="Banner">
			<%= image_tag("about_main.jpg", :alt => "banner image") %>
		</div>
	</div>

	<div class="col-md-4" id="background-tweet">
		<%= render 'twitter' %>

		<%= link_to 'LinkedIn', ('https://www.linkedin.com/in/afoster2'), class:"btn btn-primary" %>
		<%= link_to 'Facebook', ('https://www.facebook.com/andrew.foster.7374'), class:"btn btn-primary" %>
		<%= link_to 'Twitter', ('https://twitter.com/AFcountrymusic'), class:"btn btn-primary" %>
		<%= link_to 'Github', ('https://github.com/Afoster2'), class:"btn btn-primary" %>
	</div>
</div>

<div class="row">
<div class="col-md-8">
	<h1 class="home_title">Andrew Foster</h1>
	<h4 class="home_sub">History</h4> <h6 class="home_sub">"Better to remain silent and be thought a fool, than to speak and remove all doubt."</h6>
	<p class="home_txt">In early 2009, Andrew and his freind Jason Rylance founded Lost Tie LLC., a web development firm in Corpus Christi. The firm focused on CD package design at first but quickly grew into a diverse print & web design company with a steady client list. </p>

	<p class="home_txt">In early 2011, Andrew and friend Chris Lamb founded Reel Sportswear. A fishing apparel company located in Corpus Christi. Designs, Marketing, and the outdoors inspired most of Andrews designs. You can view the full line at <%= link_to 'www.reelsportswear.com', ('https://www.reelsportswear.com') %> </p>





</div>
</div>

</div> 